*{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    
}


/*Navbar starts */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-image: linear-gradient(to top right, #0a2351, #5F9EA0);
    color: #ffffff;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 1em;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
  }
  
  @media (max-width: 768px) {
    ul {
      flex-direction: column;
    }
  
    li {
      margin: 1em 0;
    }
  }
  
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    font-size: 1.5em;
    margin: 0;
    outline: none;
    padding: 0;
  }
  
  @media (max-width: 768px) {
    button {
      display: block;
    }
  }
  
  nav.open {
    display: flex;
    flex-direction: column;
  }
  /*Navbar ends */

  /*Banner starts */
  #banner {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #f7f7f7;*/
    padding: 4em 2em;
    background-image: linear-gradient(to top right, #0a2351, #5F9EA0);
    text-align: center;
    color: #ffffff;
  }

  .banner-content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
    text-align: center;
  }
  
  .banner-content img {
    width: 30%;
    margin-right: 50px;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
  }
  
  p {
    font-size: 1.2em;
    margin: 1em 0 0;
  }
  
  @media (max-width: 768px) {
    #banner {
      flex-direction: column;
      padding: 2em;
    }
  
    .banner-content {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    img {
      width: 35%;
      margin-bottom: 2em;
    }
  }
    /*Banner ends */

  /* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__html {
  width: 95%;
}

.skills__css {
  width: 85%;
}

.skills__js {
  width: 65%;
}

.skills__ux {
  width: 85%;
}

.skills__img {
  border-radius: .5rem;
}
/* skills ends */

  
  /*Projects starts */
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: calc(33.33% - 20px);
    background-color: #fff;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .card img{
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    .card {
      width: 100%;
    }

    .card img{
      width: 30%;
    }
  }
  
  .icon {
    font-size: 50px;
    margin-top: 20px;
  }
  
  i{
    color: #5F9EA0;
    font-size: 32px;
  }

  
  .title {
    font-size: 20px;
    margin-top: 10px;
  }

  .project-header {
    font-size: 22px;
    margin-top: 10px;
    text-align: center;
  }
  /*Projects ends */
  
  /*Button starts */
  .download-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .download-button i {
    margin-right: 10px;
    color: yellow;
  }
  
  .download-button:hover {
    background-color: #3E8E41;
  }

  /*Button ends */

  /*Portfolio starts */
  .card1-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px;
}

.card1 {
  width: 30%;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.card1 img {
  width: 50%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card1 h2 {
  padding: 5px;
  font-size: 22px;
}

.card1 p {
  padding: 0 20px 20px 20px;
  font-size: 16px;
}

.card1 button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .card1 {
    width: 100%;
  }
}
